engine-strict=true

# Fix "ERR_PNPM_BAD_PM_VERSION  This project is configured to use v9.1.1 of pnpm. Your current pnpm is v9.0.4" on Vercel
# https://github.com/pnpm/pnpm/issues/8087#issuecomment-2118489643
package-manager-strict=false
